.upperpanel {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    background-color: rgb(54, 49, 49);
    color: grey;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.cloudimage {
    height: 100px;
}