.cityinfo{
    width: 800px;
}

.upperpanel {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: grey;
}

.cloudimage {
    height: 100px;
}
.upperpanel2{
    background-color: #D4EBF8;
    height: 100px;
    width: 60px;
    border-radius: 15px;
}
.time{
    margin: 13px;
    padding-top: 10px;
}
.cloudimg{
    margin: 10px;
    height: 5px;
    width: 40px;
}
.temp{
    margin: 20px;
    padding-top: 15px;
}